:root{
    --blue-accent: #276EFF;
    --Dark-text: #272D37;
    --gray-inactive: #A0AFC4;
    --text-regular-size: 16px;
    --text-14px-size: 14px;
    --text-regular-weight: 300;
    --shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
    --gray-background: #F3F3F3;
    --font-family-Inter: Inter;
    --white: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}


.account-page-container{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.account-card{
    display: flex;
    flex-direction: row;
    max-width:100%;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 8px;
    background-color: var(--white);
}

.account-card-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.account-hr{
    width: 100%;
    margin: 0;
    stroke-width: 1px;
    stroke: #E8E8E8;
}

.account-card-top-section{
    display: flex;
    flex-direction: row;
    padding: 36px 36px 4px 48px;
    width: 100%;
}
.account-card-top-section form{
    margin: auto;
}

.account-username{
    font-weight: 500;
    font-size: 30px;
    color: var(--Dark-text);
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
    justify-content: space-between;
}

.account-role{
    color: var(--blue-accent);
    font-size: 20px;
    font-weight: 300;
    padding: 0px 0px 24px 48px;
}

.account-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 48px;
}

.account-info-list{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap:36px;
}

.account-info-list li{
    display: flex;
    gap:16px;
    color:var(--Dark-text);
    font-weight: var(--text-regular-weight);
    font-size: 22px;
    color: #000000;
    font-family: var(--font-family-Inter);
}